* {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    background-color: rgb(241, 239, 239);
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

i {
    margin: 0 30px 0 6px;
}

.icons {
    border-left: 1px solid gray;
    padding: 20px;
}


a {
    margin-left: 30px;
    text-decoration: none;
}

#logo {
    font-size: 35px;
}

.menu {
    margin-top: 6px;
    margin-left: 20px
}

.container {
    text-align: center;
}

.expertise {
    margin: 30px auto 30px auto;
    width: 40%;
}

h1 {
    margin: 40px;
    font: 28px Montserrat, Helvetica, Arial, sans-serif;
}

h3 {
    color: gray;
    font: 23px lora, Helvetica, Arial, sans-serif;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 30%;
    margin: 40px;
    text-align: left;
    color: #767676;
    font: 16px lora, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

h6 {
    margin-bottom: 30px;
    font: 10px Montserrat, Helvetica, Arial, sans-serif;
}

.expertise p {
    color: #767676;
    font: 21px Montserrat, Helvetica, Arial, sans-serif;
    line-height: 30px;
}